.body-comment {
  height: 46px;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 22.4px;
  padding: 16px 0px 0px;
  text-align: left;

}

.tabs-list {
  height: 39px;
  align-items: center;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  text-align: left;

  &_link {
    width: 56px;
    height: 36px;
    color: #292b2c;
    font-size: 14px;
    line-height: 22.4px;
    padding: 8px 16px;
    text-align: center;
  }

  &_content {
    height: 205px;
    padding: 9.6px 0px;
padding-top: 9px;
    &_comment {
      justify-content: flex-end;
      line-height: 22.4px;
      width:96%;
      text-align:right;
    }
  }
}

.sections-title {
  margin-top: 62px;
  height: 30px;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0px -16px 0px 0px;
  text-align: left;

  &_text {
    height: 61px;
    width: 150px;
    font-size: 18/288px;
    font-weight: 700;
    line-height: 21.9456px;
    margin: 103px 0px 8px;
    text-align: left;

    hr {
      height: 1px;
      border-color: #d6d6d7;
      border-style: solid none none;
      border-width: 1px 0px 0px;
      color: #1b1b1b;
      font-size: 14px;
      line-height: 22.4px;
      margin: 16px 0px 8px 14px;
      text-align: left;
    }
  }
}

.forum-post {
  width: 1013px;
  align-items: flex-start;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  padding: 8px;
  text-align: left;

  border-style: hidden;
  box-shadow: #a17d7d 0 0.5px 0px 0px;
  border-width: 1px 0px 0.5px;

  &_img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: #33629c;
    font-size: 14px;
    object-fit: cover;
  }

  &_feed {
    height: 103px;
    font-size: 14px;
    padding-left: 12px;

    &_meta {
      width: 779px;
      height: 20px;
      align-items: center;
      color: #1b1b1b;
      display: flex;
      flex-wrap: wrap;
      font-size: 12.8px;
      line-height: 20.48px;

      &_user {
        height: 26px;
        color: #33629c;
        display: inline;
        margin: 0px 8px 0px 0px;
        font-size: 20px;
        position: relative;

        &_info {
          width: 369px;
          height: 160px;
          background-color: #ffffff;
          border-color: #ebeef5;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          box-shadow: #000000 0px 2px 12px 0px;
          color: #606266;
          font-size: 14px;
          line-height: 19.4px;
          margin: 12px 0px 0px;
          text-align: justify;
          position: absolute;
          display: none;
          z-index: 1000;

          &_user {
            width: 343px;
            height: 75px;
            justify-content: space-around;

            &_a {
              width: 86px;
              height: 67px;
              color: #33629c;
              display: flex;
              flex-basis: 25%;
              margin: 0px 8px 0px 0px;
              padding: 0px 15px;

              &_img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                margin: 3.39062px 0px;
                object-fit: cover;

              }
            }

            &_name {
              width: 257px;
              height: 67px;
              color: #606266;
              flex-basis: 75%;
              padding: 0px 15px;

              &_a {
                width: 73px;
                height: 16px;
                display: inline;
              }

              &_span {
                width: 122px;
                height: 16px;
                color: #9b9b9b;
                display: inline;
              }

              &_div {
                width: 227px;
                height: 20px;
                margin: 8px 0px 0px;
              }
            }

            &_follow {
              width: 338px;
              height: 39px;
              align-items: center;
              //border-color: #dbe3e8;
              //border-style: solid none none;
              border-width: 1px 0px 0px;
              color: #606266;
              display: flex;
              justify-content: space-between;
              margin: 16px 0px 0px;
              padding: 8px 0px 0px;
            }
          }
        }

      }

      &_user:hover div {

        display: block;

      }

      &_link {

        height: 24px;
        color: #9b9b9b;
        display: inline;
        margin: 0px 8px 0px 0px;

      }
    }

    &_title {
      height: 56px;
      width: 779px;

      &_word {
        font-size: 17.6px;
        font-weight: 500;
        line-height: 21.12px;
        margin: 0px 8px 0px 0px;
        padding-top: 8px;
        color: #1b1b1b;

        &_a {
          color: #1b1b1b;
          display: inline;
          text-decoration: none

        }

        &_a:hover {
          color: #5488c7;
          text-decoration: none
        }

        &_title {
          width: 774px;
          height: 29px;
          color: #1b1b1b;
          display: flex;
          font-size: 14px;

        }

        &_tags {
          height: 26px;
          width: 426px;
          color: #1b1b1b;
          padding-left: 4px;

          &_cate {
            font-size: 60%;
            margin: 4px;
          }
        }
      }
    }

    &_starts {
      padding-top: 20px;

      &_item {
        width: 49px;
        height: 16px;
        color: #9b9b9b;
        display: inline;
        font-size: 14px;
        margin: 0px 10px 0px 0px;
      }
    }
  }
}

.post-tag_detail {
  height: 24px;
  width: 65px;
  background-color: #e1ecf4;
  border-radius: 3px;
  color: #39739d;
  font-size: 12px;
  line-height: 12px;
  margin: 2px 2px 0px 0px;
  padding: 4.8px 6px;
  text-align: center;
}

.fw-wrap {
  width:99%;
  height: 80px;
  align-items: flex-start;
  color: #232629;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: flex-end;
  line-height: 17px;
  margin: 16px 0px;
  padding: 4px 0px 0px;
  text-align: left;
    box-shadow: #a17d7d 0 0.5px 0px 0px;

  &_options {
    height: 25px;
    padding: 4px 37rem 0px 0px;

  }

  &_user_info {
    background-color: aliceblue;
    color: #6a737c;
    font-size: 13px;
    line-height: 17px;
    padding: 5px 6px 7px 7px;
    display: flex;
    &_action {
      height: 16px;
      font-size: 12px;
      line-height: 15.6923px;
      margin: 1px 0px 4px;
      text-align: left;
    }

    &_bar {
      width: 32px;
      height: 32px;
      border-radius: 3px;
      color: #0a95ff;
      display: inline;
      font-size: 13px;
      line-height: 17px;
      text-align: left;
    }

    &_detail {
      width: 147px;
      height: 35px;
      color: #6a737c;
      font-size: 13px;
      line-height: 17px;
      margin: 0px 0px 0px 8px;
      text-align: left;

      a {
        height: 15px;
        color: #0074cc;
        display: inline;
        text-align: left;
      }

      &_flair {
        width: 147px;
        color: #6a737c;

        span {
          height: 14px;
          width: 30px;
          display: inline;
          font-size: 12px;
          font-weight: 700;
          margin: 0px 2px 0px 0px;
          text-align: left;
        }
      }
    }
  }
}
