.body {

  text-align: left;

  &_image {
    &_banner {
      width: 100%;
      color: #33629c;
      font-size: 14px;
      line-height: 22.4px;
      height: 278px;
      object-fit: cover;
    }

  }

  &_bg {
    width: 1905px;
    height: 67px;
    background-color: #0b1a33;
    color: #1b1b1b;
    font-size: 14px;
    line-height: 22.4px;
    padding: 16px 0px;
    text-align: left;

    &_row {
      height: 35px;
      width: 1140px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      justify-content: space-between;
      margin: 0px -15px;

      ul {
        width: 825px;
        height: 37px;
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: flex-start;
        text-align: left;
        line-height: 22.4px;

        a {
          width: 93px;
          height: 20px;
          color: #ffffff;
          font-size: 12.6px;
          font-weight: 700;
          line-height: 20.16px;
          text-transform: uppercase;
          text-align: left;

        }
      }
    }

  }


}

.profile-tab {
  border-color: #005282;
  border-style: solid;
  border-width: 1px 0px 0px;
  box-shadow: #000000 0px 0.1px 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 22.4px;
  text-align: left;
  background-color: #0b1a33;

  &_item {
    height: 45px;
    width: 1200px;
    display: flex;
    margin: 0px 352.5px;

    &_link {
      width: 125px;
      height: 43px;
      font-weight: 700;
      padding: 13px 14px 8px;
      color: #ffffff;

    }

    &_link:hover {
      color: #5488c7;
    }
  }
}

.text-center {
  width: 100%;
  height: 54px;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  color: #ffffff;
  font-size: 18.288px;
  font-weight: 700;
  line-height: 21.9456px;
  margin: 0px 0px 8px;
  padding: 16px 0px;
  text-align: center;

  &_body {
    width: 682px;
    height: 21px;
    display: inline;
    color: #ffffff;
  }
}

.body-post {
  height: 118px;
  width: 840px;
  align-items: flex-start;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  padding: 8px;
  text-align: left;

  border-style: hidden;
  box-shadow: #a17d7d 0 0.5px 0px 0px;
  border-width:1px 0px 0.5px;

  &_img {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    color: #33629c;
    font-size: 14px;
object-fit: cover;
  }

  &_feed {
    height: 103px;
    font-size: 14px;
padding-left:12px;
    &_meta {
      width: 779px;
      height: 20px;
      align-items: center;
      color: #1b1b1b;
      display: flex;
      flex-wrap: wrap;
      font-size: 12.8px;
      line-height: 20.48px;
      &_user {
        height: 15px;
        color: #33629c;
        display: inline;
        margin: 0px 8px 0px 0px;
        font-size:12.8px;
        position: relative;
      &_info{
        width:369px;
        height: 160px;
        background-color: #ffffff;
        border-color: #ebeef5;
        border-radius:4px;
        border-style: solid;
        border-width:1px;
        box-shadow:#000000 0px 2px 12px 0px;
        color:#606266;
        font-size:14px;
        line-height:19.4px;
        margin:12px 0px 0px;
        text-align:justify;
        position: absolute;
        display: none;
        z-index: 1000;
        &_user{
          width:343px;
          height: 75px;
          justify-content:space-around;
          &_a{
            width:86px;
            height: 67px;
            color:#33629c;
            display:flex;
            flex-basis:25%;
            margin: 0px 8px 0px 0px;
            padding: 0px 15px;
            &_img{
              width:60px;
              height:60px;
              border-radius:100%;
              margin: 3.39062px 0px;
              object-fit: cover;

            }
          }
          &_name{
            width:257px;
            height: 67px;
            color: #606266;
            flex-basis:75%;
            padding:0px 15px;
            &_a{
              width:73px;
              height: 16px;
              display: inline;
            }
            &_span{
              width:122px;
              height: 16px;
              color: #9b9b9b;
              display: inline;
            }
            &_div{
              width:227px;
              height: 20px;
              margin: 8px 0px 0px;
            }
          }
          &_follow{
            width:338px;
            height:39px;
            align-items: center;
            //border-color: #dbe3e8;
            //border-style: solid none none;
            border-width: 1px 0px 0px;
            color: #606266;
            display: flex;
            justify-content:space-between;
            margin: 16px 0px 0px;
            padding:8px 0px 0px;
          }
        }
      }

      }
       &_user:hover div{

            display: block;

        }
      &_link {

        height: 15px;
        color: #9b9b9b;
        display: inline;
        margin: 0px 8px 0px 0px;

      }
    }

    &_title {
      height: 56px;
      width: 779px;

      &_word {
        font-size: 17.6px;
        font-weight: 500;
        line-height: 21.12px;
        margin: 0px 8px 0px 0px;
        padding-top:8px;
        color: #1b1b1b;
        &_a{
          color: #1b1b1b;
          display: inline;
          text-decoration: none

        }
        &_a:hover {
          color: #5488c7;
          text-decoration: none
        }
        &_title{
          width:774px;
          height:29px;
          color: #1b1b1b;
          display: flex;
          font-size:14px;

        }
        &_tags {
          height: 26px;
          width: 426px;
          color: #1b1b1b;
          padding-left:4px;

          &_cate {
            font-size: 60%;
            margin: 4px;
          }
        }
      }
    }

    &_starts {
      padding-top:8px;
      &_item {
        width: 49px;
        height: 16px;
        color: #9b9b9b;
        display: inline;
        font-size: 14px;
        margin: 0px 10px 0px 0px;
      }
    }
  }
}

.sticky {
  height: 855px;
  width: 285px;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 22.4px;
  padding: 0px 8px 0px 0px;
  text-align: left;
    //border-style: solid;
    //  border-width: 1px;
    //border-color: #d6d6d7;

  &_section {
    display: flex;
    width: 277px;
    height: 33px;

    &_a {
      width: 142px;
      height: 33px;
      color: #33629c;

      &_h4 {
        height: 19px;
        font-weight: 500;
        line-height: 19.2px;
        margin: 0px 0px 8px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
  &_featured{
    width:277px;
    height: 87px;
    margin: 0px 0px 8px;
    padding: 0px 0px 8px;
    h4{
      height:19px;
      font-weight: 500;
      line-height: 19.2px;

    }
    h4:hover{
      color: #5488c7;
    }
    &_sidebar{
      height:22px;
      display: inline-block;
      text-align: center;
    }
    &_feed{
            height:22px;
      a{
        height:16px;
        width:65px;
        display: inline;
        color: #9b9b9b
      }
      a:hover{
     color: #1b1b1b;
      }
    }
  }
}

.sticky-section_a_h4 {
  font-size: 14px;
}

.body-pagination {
  text-align: center;
  display: inline-block;
}


