.screen-default {
  width: 1110px;
  height: 2000px;
  color: #1b1b1b;
  font-size: 14px;
  text-align: left;

  &_upvote {
    height: 532px;
    width: 50px;
    align-items: center;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 22.4px;
    padding: 100px 0px;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;

    &_count {
      height: 14px;
      width: 27px;
      color: #9b9b9b;
      display: flex;
      font-weight: 500;
      line-height: 14.4px;
      padding-left:26px;
      font-size: 29px;
    }

    &_share {
      width: 30px;
      height: 68px;
      line-height: 24px;
      margin: 0px 0px 24px;

      &_a {
        height: 30px;
        border-color: #dbe3e8;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
      }

      &_a:hover {
        color: #5488c7;
      }
    }
  }
}

.post-content {
  width: 700px;
  height: 73px;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0px 0px 4px;
  text-align: left;

  &_author {
    width: 314px;
    height: 49px;
    align-items: center;
    margin: 0px 0px 24px;

    &_a {
      height: 45px;
      width: 45px;
      color: #33629c;
      margin: 0px 8px 0px 0px;

      &_img {
        border-radius: 100%;
        object-fit: cover;
        height: 45px;
        width: 45px;
      }
    }

    &_flex {
      height: 25px;
      width: 150px;
      line-height: 24px;
      margin: 0px 8px 0px 0px;
      text-align: left;
    }

    &_stats {
      height: 24px;
      width: 245px;
      line-height: 24px;
    }
  }

  &_post {
    width: 386px;
    height: 73px;
    align-items: flex-end;
    flex-basis: 0%;
    flex-direction: column;
    flex-wrap: wrap;

    &_text {
      width: 283px;
      height: 22px;
      color: #9b9b9b;

    }

    &_flex {
      align-items: center;
      width: 165px;
      height: 46px;

      &_view {
        height: 32px;
        width: 46px;
        color: #9b9b9b;
        font-size: 20px;
        line-height: 32px;
        margin: 0px 16px 0px 0px;
      }
    }
  }
}

.content-type {
  height: 120px;
  color: #1b1b1b;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 0px 0px 8px;
  text-align: left;
}

.d-md-flex {
  height: 30px;
  color: #1b1b1b;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 22.4px;
  text-align: left;
}

.artice-show {
  height: 756px;
  color: #171717;
  display: grid;
  gap: 16px;
  grid-template-columns:345.609px;
  grid-template-rows:416px 324px;
  line-height: 24px;

  &_card {
    height: 416px;
    background-color: #fafafa;
    border-color: #190aa4;
    border-radius:2%;

    border-style: solid none none;
    border-width: 32px 0px 0px;
    box-shadow: #171717 0px 0px 0px 1px;
    display: grid;
    gap: 16px;
    grid-template-columns:313.609px;
    grid-template-rows:34px 40px 96px 150px;
    line-height: 24px;
    padding: 0px 16px 16px;

    &_flex {
      height: 50px;
      color:#3b49df;
      display: flex;
    &_avatar{
      width:48px;
      height:48px;
      border-radius: 100%;
      color:#3b49df;
      display: inline-block;
    }
      &_link{
        color:#2f3ab2;
        font-size:20px;
        font-weight:700;
        line-height:30px;
        margin: 5px 0px 12px 8px;


      }
    }
    &_follow{
      height: 40px;
      align-items: flex-start;
background-color: #3b49df;
border-radius: 6px;
box-shadow: #000000 0px 1px 3px 0px;
color: #f9f9f9;
display: inline-block;
font-family: -apple-system;
font-weight: 500;
line-height: 24px;
padding: 8px 16px;
text-align: center;
    }
    &_about{
      height: 96px;
      color: #575757;
      line-height:24px;

    }
    &_user{
      height: 150px;
      color: #404040;

    }
  }
}