.post-style {

    color: #212529;
    font-family: -apple-system;
    font-size: 17px;
    line-height: 25.5px;
    margin: 0px 0px 17px;
    text-align: center;
    margin-top: 120px;
    font-size: 24px;
    margin-bottom: 135px;
}